*{
    margin: 0;
    padding: 0;
}

.red-border{
    border: 1px red solid;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-parent{
    height: 80vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.grid-col-span-2{
    grid-column: span 2;
}

.grid-row-span-2{
    grid-row: span 2;
}